@import url("https://fonts.googleapis.com/css2?family=Moderustic&family=SUSE:wght@600&display=swap");

:root {
  --clr-white: #fff;
  --clr-black: #111;
}

* {
  margin: 0;
  padding: 0;
}


main {
  padding-block: min(20vh, 2rem);
  width: calc(min(70rem, 90%));
  margin-inline: auto;
  color: var(--clr-black);
  position: relative;
}

main .heading {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

main .heading h1 {
  letter-spacing: 0.025em;
  font-size: clamp(2.5rem, 1.6351rem + 4.3243vw, 6.5rem);
  line-height: 1;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

main .heading aside {
  margin-top: 1.5em;
  max-width: 16.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

main .heading aside p {
  font-size: 0.9rem;
  color: var(--clr-black);
  line-height: 1.5;
}

main .container {
  margin-top: 2em;
  display: grid;
  gap: 1.5rem;
}

main .container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3.5em;
  gap: 2rem;
}

main .card {
  padding-block: 1rem;
  background: var(--clr-white);
  border-radius: 1.2rem;
  position: relative;
  height: 24rem;
}

main .card p {
  position: absolute;
  right: 0;
  top: -1.25rem;
}

main .card p a {
  font-size: 0.9rem;
  display: inline-block;
  color: var(--clr-black);
}

main .card p a:hover {
  font-weight: 600;
}

main .card .card-inner {
  position: relative;
  width: inherit;
  height: inherit;
  border-bottom-right-radius: 0;
}

main .card .card-inner .box {
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  border-radius: 1.2rem;
  overflow: hidden;
}

main .card .card-inner .box .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

main .video {
  height: 20rem;
  align-self: flex-end;
}

.poster {
  position: relative;
  display: inline-flex;
}

.poster:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("https://images.unsplash.com/photo-1534361960057-19889db9621e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  transition: 1s ease;
  opacity: 0.8;
  cursor: pointer;
}

.poster-active:after {
  opacity: 0;
  pointer-events: none;
}


/* major projects css start */


/**General styles**/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.projects
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font-family: 'Open Sans', sans-serif; */
}


/**Body style: setting background gradient**/

.projects {
  /* background-color: #e5ecef; */
  background-color: rgba(241, 241, 241, 0.39);
  background-image: linear-gradient( to top right, #bbc2c5, #b8bfc2, #e5ecef 60%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  
}

/*Main style*/

main{
  min-height: 100%;
  margin-bottom: -60px; 
}

main:after{
  content: "";
  display: block;
}



/**Card styles: general**/

.quote-card-childrights {
  width: 100%;
  width: 1200px;
  height: 40vh;
  background-color: #023660;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 25px 60px -10px #000;
  border-radius: 20px;
}

.quote-card-socialdevelopment2 {
  width: 100%;
  width: 1200px;
  height: 35vh;
  background-color: #023660;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 25px 60px -10px #000;
  border-radius: 20px;
}
.quote-card-socialdevelopment1 {
  width: 100%;
  width: 1200px;
  height: 60vh;
  background-color: #023660;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 25px 60px -10px #000;
  border-radius: 20px;
}

.quote-card-public-health1 {
  width: 100%;
  width: 1200px;
  height: 55vh;
  background-color: #023660;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 25px 60px -10px #000;
  border-radius: 20px;
}
.quote-card-public-health2 {
  width: 100%;
  width: 1200px;
  height: 70vh;
  background-color: #023660;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 25px 60px -10px #000;
  border-radius: 20px;
}
.quote-card-public-health3 {
  width: 100%;
  width: 1200px;
  height: 20vh;
  background-color: #023660;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 25px 60px -10px #000;
  border-radius: 20px;
}
.quote-card-environment {
  width: 100%;
  width: 1200px;
  height: 25vh;
  background-color: #023660;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 25px 60px -10px #000;
  border-radius: 20px;
}

/**Card navigation styles**/

.card-navigation-childrights {
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/30073700/pexels-photo-30073700/free-photo-of-joyful-children-in-lonavala-s-scenic-outdoors.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  
}
.card-navigation-socialdevelopment1 {
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/27808681/pexels-photo-27808681/free-photo-of-a-man-is-standing-in-the-water-with-a-stick.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  
}
.card-navigation-socialdevelopment2 {
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/30088193/pexels-photo-30088193/free-photo-of-lush-green-terraced-fields-in-ooty-india.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  
}
.card-navigation-public-health1 {
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/4031825/pexels-photo-4031825.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  
}
.card-navigation-public-health2 {
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/27599728/pexels-photo-27599728/free-photo-of-the-hands.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  
}
.card-navigation-public-health3 {
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/11586000/pexels-photo-11586000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  
}
.card-navigation-environment {
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/11586000/pexels-photo-11586000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  
}

.layer {
  background-color: rgba(39, 40, 51, 0.636);
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
}


/**Card body styles**/

.card-body {
  color: #feffff;
  width: 63%;
  float: left;
  padding-left: 30px;
  padding-top: 45px;
}

.quote-text {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 35px;
  font-weight: 800;
}

/*Keyframes for pulse effect*/

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.7);
    transform: scale(1.7);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}



/* major projects css end */